[submodule "Dashboard"]
	path = Dashboard
	url = https://github.com/Internet-of-Shit-Heads/Dashboard.git
[submodule "RFnode"]
	path = RFnode
	url = https://github.com/Internet-of-Shit-Heads/RFnode.git
[submodule "ca-helpers"]
	path = ca-helpers
	url = https://github.com/Internet-of-Shit-Heads/ca-helpers.git
[submodule "libraries/cfglib"]
	path = libraries/cfglib
	url = https://github.com/Internet-of-Shit-Heads/cfglib.git
[submodule "libraries/cryptlib"]
	path = libraries/cryptlib
	url = https://github.com/Internet-of-Shit-Heads/cryptlib.git
[submodule "libraries/sensordata"]
	path = libraries/sensordata
	url = https://github.com/Internet-of-Shit-Heads/sensordata.git
[submodule "libraries/RFLib"]
	path = libraries/RFLib
	url = https://github.com/Internet-of-Shit-Heads/RFLib.git
[submodule "Coordinator_Node"]
	path = Coordinator_Node
	url = https://github.com/Internet-of-Shit-Heads/Coordinator_Node.git
[submodule "libraries/nanopb"]
	path = libraries/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "libraries/RF24"]
	path = libraries/RF24
	url = https://github.com/nRF24/RF24.git
[submodule "libraries/RTClib"]
	path = libraries/RTClib
	url = https://github.com/adafruit/RTClib.git
